# Dataset 1 : GSE19491_series_matrix

In [1]:
# Import necessary library
import pandas as pd

# Set the file path for the input TXT file
file_path = r"..\..\..\Datasets\train\raw\GSE19491_series_matrix.txt"

# Load the TXT file into a Pandas DataFrame, skipping metadata lines
dataset1 = pd.read_csv(file_path, sep='\t', skiprows=33)

C:\Users\dilan\AppData\Local\Temp\ipykernel_21984\3850588273.py:8: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset1 = pd.read_csv(file_path, sep='\t', skiprows=33)

In [2]:
# Display the first 5 rows
dataset1.head()

,!Sample_title,CON_LON_test035_long_0_022,CON_LON_test036_long_0_023,CON_LON_test037_long_0_024,CON_LON_test038_long_0_025,CON_LON_test039_long_0_026,CON_LON_test040_long_0_027,CON_LON_test041_long_0_028,CON_LON_test044_long_0_029,CON_LON_test046_long_0_031,...,WB-H-2804,WB-H-1136,WB-H-1137,WB-H-1149,WB-H-1358-2,WB-H-2811-2,WB-H-7254,WB-H-2846,WB-H-2817,WB-H-4637
0,!Sample_geo_accession,GSM484368,GSM484369,GSM484370,GSM484371,GSM484372,GSM484373,GSM484374,GSM484375,GSM484376,...,GSM550391,GSM550392,GSM550393,GSM550394,GSM550395,GSM550396,GSM550397,GSM550398,GSM550399,GSM550400
1,!Sample_status,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,...,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010,Public on Aug 11 2010
2,!Sample_submission_date,Dec 11 2009,Dec 11 2009,Dec 11 2009,Dec 11 2009,Dec 11 2009,Dec 11 2009,Dec 11 2009,Dec 11 2009,Dec 11 2009,...,Jun 03 2010,Jun 03 2010,Jun 03 2010,Jun 03 2010,Jun 03 2010,Jun 03 2010,Jun 03 2010,Jun 03 2010,Jun 03 2010,Jun 03 2010
3,!Sample_last_update_date,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,...,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010,Aug 11 2010
4,!Sample_type,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,...,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA

## Get the transpose of the dataset

In [3]:
# Transpose the dataset
transpose_dataset1 = dataset1.T

# Reset the index to make the transposed column names into a header
transpose_dataset1.columns = transpose_dataset1.iloc[0]
transpose_dataset1 = transpose_dataset1.drop(transpose_dataset1.index[0])

# Display the first few rows of the transposed data
transpose_dataset1.head()

!Sample_title,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_characteristics_ch1,!Sample_characteristics_ch1,...,ILMN_2415776,ILMN_2415786,ILMN_2415826,ILMN_2415898,ILMN_2415911,ILMN_2415926,ILMN_2415949,ILMN_2415979,ILMN_2416019,!series_matrix_table_end
CON_LON_test035_long_0_022,GSM484368,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,Whole blood from healthy control,Homo sapiens,"age: 28years, when baseline sample taken",gender: Male,...,1.323358,440.5631,6.961512,211.6761,47.654,45.90151,47.74044,1588.157,-0.795828,NaN
CON_LON_test036_long_0_023,GSM484369,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,Whole blood from healthy control,Homo sapiens,"age: 21years, when baseline sample taken",gender: Male,...,6.95521,519.7111,0.687768,178.4385,60.6236,27.25553,58.9794,1640.963,-0.075005,NaN
CON_LON_test037_long_0_024,GSM484370,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,Whole blood from healthy control,Homo sapiens,"age: 49years, when baseline sample taken",gender: Female,...,6.477633,517.4698,6.944933,150.0143,54.19061,25.01618,58.05566,2371.919,-2.702824,NaN
CON_LON_test038_long_0_025,GSM484371,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,Whole blood from healthy control,Homo sapiens,"age: 41years, when baseline sample taken",gender: Female,...,7.605215,693.056,5.337096,216.1588,51.30732,71.84883,60.31775,2455.119,-3.188312,NaN
CON_LON_test039_long_0_026,GSM484372,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,Whole blood from healthy control,Homo sapiens,"age: 33years, when baseline sample taken",gender: Female,...,6.035641,525.7003,10.60559,143.6609,40.75847,23.11892,49.53117,1369.725,0.164877,NaN

In [4]:
# Check basic information about the dataset, including data types and non-null counts
transpose_dataset1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 498 entries, CON_LON_test035_long_0_022 to WB-H-4637
Columns: 48852 entries, !Sample_geo_accession to !series_matrix_table_end
dtypes: object(48852)
memory usage: 185.6+ MB

## Handling Duplicate Rows

In [5]:
transpose_dataset1.drop_duplicates(subset=['ID_REF'], keep='first', inplace=True)

## Handling Duplicate Columns

In [6]:
# Identify columns that start with '!Sample_characteristics_ch1' by their index positions
# The duplicate columns are in positions known by inspection with indices 8, 9, 10, and 11
characteristics_indices = [8, 9, 10, 11]

# Extract and rename each column using its index position
transpose_dataset1['!Sample_age'] = transpose_dataset1.iloc[:, characteristics_indices[0]]
transpose_dataset1['!Sample_gender'] = transpose_dataset1.iloc[:, characteristics_indices[1]]
transpose_dataset1['!Sample_ethnicity'] = transpose_dataset1.iloc[:, characteristics_indices[2]]
transpose_dataset1['!Sample_illness'] = transpose_dataset1.iloc[:, characteristics_indices[3]]

# Drop the original duplicated columns by their indices
transpose_dataset1.drop(transpose_dataset1.columns[characteristics_indices], axis=1, inplace=True)

# Reorder the columns to place the new columns at the front
# Create a new order by specifying the newly created columns first
new_column_order = ['!Sample_age', '!Sample_gender', '!Sample_ethnicity', '!Sample_illness'] + \
                   [col for col in transpose_dataset1.columns if col not in ['!Sample_age', '!Sample_gender', '!Sample_ethnicity', '!Sample_illness']]

# Reassign columns to the DataFrame in the new order
transpose_dataset1 = transpose_dataset1[new_column_order]

In [7]:
# Display the first few rows of the transposed data
transpose_dataset1.head()

!Sample_title,!Sample_age,!Sample_gender,!Sample_ethnicity,!Sample_illness,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,...,ILMN_2415776,ILMN_2415786,ILMN_2415826,ILMN_2415898,ILMN_2415911,ILMN_2415926,ILMN_2415949,ILMN_2415979,ILMN_2416019,!series_matrix_table_end
CON_LON_test035_long_0_022,"age: 28years, when baseline sample taken",gender: Male,ethnicity: White,illness: Control,GSM484368,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,...,1.323358,440.5631,6.961512,211.6761,47.654,45.90151,47.74044,1588.157,-0.795828,NaN
CON_LON_test036_long_0_023,"age: 21years, when baseline sample taken",gender: Male,ethnicity: White,illness: Control,GSM484369,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,...,6.95521,519.7111,0.687768,178.4385,60.6236,27.25553,58.9794,1640.963,-0.075005,NaN
CON_LON_test037_long_0_024,"age: 49years, when baseline sample taken",gender: Female,ethnicity: South Asian,illness: Control,GSM484370,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,...,6.477633,517.4698,6.944933,150.0143,54.19061,25.01618,58.05566,2371.919,-2.702824,NaN
CON_LON_test038_long_0_025,"age: 41years, when baseline sample taken",gender: Female,ethnicity: South Asian,illness: Control,GSM484371,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,...,7.605215,693.056,5.337096,216.1588,51.30732,71.84883,60.31775,2455.119,-3.188312,NaN
CON_LON_test039_long_0_026,"age: 33years, when baseline sample taken",gender: Female,ethnicity: Black,illness: Control,GSM484372,Public on Aug 11 2010,Dec 11 2009,Aug 11 2010,RNA,1,...,6.035641,525.7003,10.60559,143.6609,40.75847,23.11892,49.53117,1369.725,0.164877,NaN

## Unnecessary Feature Elemination

In [8]:
# Identify columns where all values are the same
columns_to_drop = transpose_dataset1.columns[transpose_dataset1.nunique() == 1]

# Drop those columns
data1 = transpose_dataset1.drop(columns=columns_to_drop)

In [9]:
# Drop columns with more than 50% missing values
# Calculate threshold for dropping columns
threshold = len(data1) * 0.5
data1 = data1.dropna(thresh=threshold, axis=1)

In [10]:
# Drop the columns which wonâ€™t contribute to distinguishing TB states.
columns_to_drop = [
    '!Sample_geo_accession', '!Sample_submission_date', '!Sample_last_update_date',
    '!Sample_extract_protocol_ch1', '!Sample_label_protocol_ch1', '!Sample_hyb_protocol',
    '!Sample_description', '!Sample_data_processing', '!Sample_supplementary_file',
    '!Sample_data_row_count','!Sample_age','!Sample_gender','!Sample_ethnicity',
    '!Sample_source_name_ch1','ID_REF'
]

data1.drop(columns=columns_to_drop, inplace=True)

In [11]:
# Select the first 5 columns
first_5_columns = data1.columns[:5]

# Create an empty list to store the rows
rows = []

# Loop through each of the first 5 columns
for col in first_5_columns:
    # Get the data type of the column using the Series dtype
    data_type = data1[col].dtypes  # Access the dtype via .dtypes (not .dtype)

    # Get the first two row values of the column
    row_value_1 = data1[col].iloc[0]
    row_value_2 = data1[col].iloc[1]

    # Append the information as a row to the list
    rows.append({
        'Feature': col,
        'Data Type': data_type,
        'Row Value 1': row_value_1,
        'Row Value 2': row_value_2
    })

# Convert the list of rows into a DataFrame
result_df = pd.DataFrame(rows)

# Display the result
result_df

           Feature Data Type       Row Value 1       Row Value 2
0  !Sample_illness    object  illness: Control  illness: Control
1     ILMN_1343291    object          26130.49          24597.39
2     ILMN_1343295    object          729.9434          884.1891
3     ILMN_1651199    object          3.331436          1.100029
4     ILMN_1651209    object          10.70243          7.658543

## Handling Missing values

In [12]:
# Check for missing values
data1.isnull().sum()

!Sample_title
!Sample_illness    0
ILMN_1343291       0
ILMN_1343295       0
ILMN_1651199       0
ILMN_1651209       0
                  ..
ILMN_2415911       0
ILMN_2415926       0
ILMN_2415949       0
ILMN_2415979       0
ILMN_2416019       0
Length: 48804, dtype: int64

In [13]:
# Get columns with missing values and their data types
missing_values = data1.isnull().sum()
missing_columns = missing_values[missing_values > 0].index
missing_data_types = data1[missing_columns].dtypes

# Combine column names, missing values count, and data types into a DataFrame
missing_summary = pd.DataFrame({
    'Column Name': missing_columns,
    'Missing Values Count': missing_values[missing_columns],
    'Data Type': missing_data_types
}).reset_index(drop=True)

print(missing_summary)

     Column Name  Missing Values Count Data Type
0   ILMN_1654722                    42    object
1   ILMN_1665011                    42    object
2   ILMN_1666553                    42    object
3   ILMN_1707088                    42    object
4   ILMN_1738075                    42    object
5   ILMN_1789342                    42    object
6   ILMN_1805483                    42    object
7   ILMN_1809894                    42    object
8   ILMN_1884645                    42    object
9   ILMN_1907958                    42    object
10  ILMN_2272412                    42    object
11  ILMN_2376502                    42    object

In [14]:
# Identify columns with missing values
columns_with_missing_values = data1.columns[data1.isnull().any()]

# Convert the identified columns to numeric type, coercing errors if necessary
data1[columns_with_missing_values] = data1[columns_with_missing_values].apply(pd.to_numeric, errors='coerce')

# Fill missing values with the mean of each column
data1[columns_with_missing_values] = data1[columns_with_missing_values].fillna(data1[columns_with_missing_values].mean())

In [15]:
# Check for missing values and print only columns with missing values
missing_values = data1.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

## Creating the Target Column - TB_Status

In [16]:
# Get unique categories in the "!Sample_illness" column
unique_categories = data1["!Sample_illness"].unique()

# Display the unique categories
unique_categories

array(['illness: Control', 'illness: PTB', 'illness: Latent',
       'illness: Control (BCG+)', 'illness: Control (BCG-)',
       'illness: LATENT TB', 'illness: Still', 'illness: ASLE',
       'illness: PSLE', 'illness: Staph', 'illness: Strep',
       'healthy control: Still', 'healthy control: ASLE',
       'healthy control: pSLE', 'healthy control: Strep and Staph'],
      dtype=object)

In [17]:
# Define a function to categorize each sample type
def categorize_sample_type(source_name):
    source_name = source_name.lower()
    if 'ptb' in source_name:
        return 'Active TB'
    elif 'latent' in source_name:
        return 'Latent TB'
    elif 'control' in source_name:
        return 'Healthy Control'
    else:
        return 'Other Disease'  

# Apply the function to the "!Sample_illness" column
data1['TB_Status'] = data1['!Sample_illness'].apply(categorize_sample_type)

# Display unique values in the new 'TB_Status' column to verify
print(data1['TB_Status'].unique())

['Healthy Control' 'Active TB' 'Latent TB' 'Other Disease']

In [18]:
data1.sample(5)

!Sample_title,!Sample_illness,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,...,ILMN_2415776,ILMN_2415786,ILMN_2415826,ILMN_2415898,ILMN_2415911,ILMN_2415926,ILMN_2415949,ILMN_2415979,ILMN_2416019,TB_Status
WB-ASLE-5670,illness: ASLE,25510.41,1845.651,-0.7189192,10.84658,3.741819,3.215777,4828.921,48.97663,-1.886254,...,34.92453,899.8428,14.24995,224.1235,90.57545,119.438,86.34383,770.8813,-2.84343,Other Disease
WB-Staph-1338,illness: Staph,26473.04,1964.894,-3.342817,6.427129,-7.078571,-1.223419,5315.461,41.00534,-2.310974,...,17.44986,562.4492,6.215578,248.3244,73.84605,158.1192,107.7498,1297.115,-0.948193,Other Disease
WB-Still-6037,illness: Still,24731.62,1992.188,-5.073607,4.872071,-7.812916,5.098726,4904.118,46.11812,2.285577,...,18.50063,790.7285,5.255198,227.0909,112.2681,213.8556,99.50072,973.1876,-3.201749,Other Disease
PTB_LON_tr026_long_2_017,illness: PTB,15993.87,608.0551,-1.356631,10.56678,-3.365277,4.743501,2909.175,29.27669,4.433925,...,1.045935,231.1615,7.035918,139.5969,29.97131,14.77653,42.17861,1678.916,-0.527785,Active TB
WB-H-2865,healthy control: Still,24097.48,3186.555,-5.191775,10.66488,-4.775907,0.9034339,12444,78.0982,-0.8201416,...,19.52207,1012.221,5.856331,257.1277,138.8556,410.7719,130.1756,2257.735,-6.108569,Healthy Control

In [19]:
# Drop the '!Sample_illness' column.
data1.drop('!Sample_illness', axis=1, inplace=True)

## Data Type Conversion

In [20]:
# Convert columns that should be numeric (e.g., ILMN_1343291, ILMN_1343295)
# Select columns that start with "ILMN_"
ilmn_columns = data1.columns[data1.columns.str.startswith('ILMN_')]

# Convert all 'ILMN_' columns to numeric
data1[ilmn_columns] = data1[ilmn_columns].apply(pd.to_numeric, errors='coerce')

# Verify the data types of the columns
print(data1[ilmn_columns].dtypes)

!Sample_title
ILMN_1343291    float64
ILMN_1343295    float64
ILMN_1651199    float64
ILMN_1651209    float64
ILMN_1651210    float64
                 ...
ILMN_2415911    float64
ILMN_2415926    float64
ILMN_2415949    float64
ILMN_2415979    float64
ILMN_2416019    float64
Length: 48803, dtype: object

In [21]:
# Convert target column ('TB_Status') to categorical
data1['TB_Status'] = data1['TB_Status'].astype('category')

# Verify the data type of the column
print(data1['TB_Status'].dtypes)

category

In [22]:
dataset1 = data1.copy()

## Encode the target labels in the target column (TB_Status)

In [23]:
data1 = dataset1.copy()

## Standardizing/Normalizing Numeric Data

In [24]:
from sklearn.preprocessing import StandardScaler

# Select only the numeric columns in the dataset
numeric_columns = data1.select_dtypes(include=['float64', 'int64']).columns

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler on the numeric columns and transform them
data1[numeric_columns] = scaler.fit_transform(data1[numeric_columns])

# Display random 5 rows to verify the standardization
data1.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,ILMN_1651232,...,ILMN_2415776,ILMN_2415786,ILMN_2415826,ILMN_2415898,ILMN_2415911,ILMN_2415926,ILMN_2415949,ILMN_2415979,ILMN_2416019,TB_Status
PTB_SA_val015,-0.460562,-0.571380,-0.990596,-1.712784,0.576176,0.057204,0.017547,-0.045924,-1.065207,-0.308065,...,0.657023,-0.767052,-0.075002,0.996879,-0.433374,-0.832254,-0.072650,1.423114,0.273969,Active TB
WB-PSLE-8933,2.064740,0.881667,-0.719267,0.817444,-1.610475,-1.903337,0.480434,0.291838,-0.035790,2.151242,...,-0.327798,-0.762096,-0.175086,1.439543,0.652663,-0.736518,0.054905,0.028489,-1.964475,Other Disease
PTB_LON_tr020_long_12_015,-0.775728,-0.723171,-0.401857,-1.208948,0.865560,-1.672144,0.118090,-0.231297,0.325930,-0.298468,...,-0.544999,-0.685845,-0.223103,-1.212033,-0.758339,-0.822554,-1.190754,-0.138713,0.352860,Active TB
WB-Staph-1339,0.056981,1.878762,-0.692445,-0.382007,-0.338832,-0.027845,0.383873,0.164312,1.146300,-0.114633,...,-0.712609,-0.398869,-1.083467,-0.524697,-0.592074,-0.211850,-0.724864,-0.844666,1.541112,Other Disease
WB-ASLE-7990,0.059680,-0.311607,-0.160778,-0.058326,-0.801407,1.914065,-0.379509,0.173310,-1.832980,-0.642828,...,1.099449,0.576214,1.535560,-0.136404,0.142311,-0.155110,0.214631,-0.726678,0.065975,Other Disease

## Handling Outliers

In [25]:
import numpy as np

# Select only the numeric columns
numeric_columns = data1.select_dtypes(include=['float64', 'int64']).columns

# Define a function to cap outliers
def cap_outliers(series):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1

    # Define the lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Cap values outside the bounds to the respective bounds
    return np.where(series < lower_bound, lower_bound,
                    np.where(series > upper_bound, upper_bound, series))

# Apply the function to each numeric column
for col in numeric_columns:
    data1[col] = cap_outliers(data1[col])

# Display the random 5 rows to verify the changes
data1.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,ILMN_1651232,...,ILMN_2415776,ILMN_2415786,ILMN_2415826,ILMN_2415898,ILMN_2415911,ILMN_2415926,ILMN_2415949,ILMN_2415979,ILMN_2416019,TB_Status
CON_LON_test035,-0.027334,-0.954540,0.616362,0.313142,-0.202690,-1.245721,-0.559815,-0.310592,-0.351942,-0.204190,...,-1.046802,-0.370599,-0.127217,-0.421419,-0.371262,-0.614744,-0.930571,-0.040746,0.937322,Healthy Control
LTB_LON_test010,0.338422,-0.905741,-0.073919,0.702326,0.537702,-0.664528,-0.367628,-0.370951,-0.591467,-0.804563,...,-0.564490,0.136964,-0.685913,-0.837898,-0.468781,-0.245488,-0.434905,-0.369866,0.053095,Latent TB
WB-H-9361,-0.374580,-0.382464,-2.295963,-2.331282,1.827256,0.545497,0.101140,0.171893,-0.983961,-1.591452,...,-1.587774,-1.060619,-0.361911,-1.004575,-0.758972,-0.870520,0.265771,-0.572165,0.920180,Healthy Control
WB-Staph-9557,-0.792734,0.889852,-1.656143,-1.310631,-1.007725,-1.982011,0.805448,2.259221,-0.930994,-0.709265,...,-0.839625,-0.779811,-1.203501,-0.287032,-0.459850,-0.265318,-0.565761,1.670555,0.435123,Other Disease
WB-PSLE-7471,1.445898,0.024086,-1.138818,0.909619,-2.171889,-1.379368,-0.615175,-0.275526,-1.227708,-0.659150,...,-0.244940,-0.919418,2.286479,1.032036,0.125049,-0.868197,-0.254743,0.170577,-0.084236,Other Disease

In [26]:
# Save the DataFrame as a CSV file
output_csv_path = r"..\..\..\Datasets\train\processed\processed_dataset1.csv"
data1.to_csv(output_csv_path, index=False)
print("CSV file saved to:", output_csv_path)

CSV file saved to: ..\..\..\Datasets\train\processed\processed_dataset1.csv