# Dataset 4 : GSE144127_series_matrix

In [1]:
# Import necessary library
import pandas as pd

# Set the file path for the input TXT file
file_path = r"..\..\..\Datasets\train\raw\GSE144127_series_matrix.txt"

# Load the TXT file into a Pandas DataFrame, skipping metadata lines
dataset4 = pd.read_csv(file_path, sep='\t', skiprows=37)

C:\Users\dilan\AppData\Local\Temp\ipykernel_24840\2584791079.py:8: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset4 = pd.read_csv(file_path, sep='\t', skiprows=37)

In [2]:
# Display the first 5 rows
dataset4.head()

,!Sample_title,3998675098_L,3998675098_C,3998675093_J,3998675095_K,3998720112_B,3998703010_I,3998675110_L,3998675115_H,3998675098_F,...,3998734086_B,3998734069_G,3998734086_F,3998675118_C,3998703044_A,3998675101_D,3998703001_L,3998675101_E,3998734064_K,3998720100_A
0,!Sample_geo_accession,GSM4280811,GSM4280812,GSM4280813,GSM4280814,GSM4280815,GSM4280816,GSM4280817,GSM4280818,GSM4280819,...,GSM4281429,GSM4281430,GSM4281431,GSM4281432,GSM4281433,GSM4281434,GSM4281435,GSM4281436,GSM4281437,GSM4281438
1,!Sample_status,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,...,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021,Public on Jan 26 2021
2,!Sample_submission_date,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,...,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020,Jan 23 2020
3,!Sample_last_update_date,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,...,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021,Jan 29 2021
4,!Sample_type,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,...,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA

## Get the transpose of the dataset

In [3]:
# Transpose the dataset
transpose_dataset4 = dataset4.T

# Reset the index to make the transposed column names into a header
transpose_dataset4.columns = transpose_dataset4.iloc[0]

# Drop the first row (index 0) which has the headers duplicated
transpose_dataset4 = transpose_dataset4.drop(transpose_dataset4.index[0])

# Display the first few rows of the corrected transposed data
transpose_dataset4.head()

!Sample_title,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_characteristics_ch1,!Sample_characteristics_ch1,...,ILMN_3311115,ILMN_3311135,ILMN_3311145,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311180,ILMN_3311190,!series_matrix_table_end
3998675098_L,GSM4280811,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,RNA,1,Whole blood,Homo sapiens,title: A007,sampledate at t0: 12/12/11,...,4.039544,5.172025,5.058571,4.166647,4.906626,4.269784,5.292572,4.873061,5.19957,NaN
3998675098_C,GSM4280812,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,RNA,1,Whole blood,Homo sapiens,title: A015,sampledate at t0: 03/01/12,...,4.913003,4.596784,4.449106,4.900252,4.99664,4.293105,5.576008,4.456889,5.039554,NaN
3998675093_J,GSM4280813,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,RNA,1,Whole blood,Homo sapiens,title: A019,sampledate at t0: 09/01/12,...,4.563223,4.893806,4.251844,4.909084,4.610458,4.192144,4.965947,5.077903,5.752054,NaN
3998675095_K,GSM4280814,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,RNA,1,Whole blood,Homo sapiens,title: A031,sampledate at t0: 23/01/12,...,4.935363,5.040774,4.470534,5.042976,4.971159,4.305317,5.204007,5.017789,5.354597,NaN
3998720112_B,GSM4280815,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,RNA,1,Whole blood,Homo sapiens,title: A039,sampledate at t0: 10/02/12,...,4.964802,4.806887,4.706329,5.194781,4.989374,4.079922,5.200538,5.278832,5.324751,NaN

In [4]:
# Check basic information about the dataset, including data types and non-null counts
transpose_dataset4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 628 entries, 3998675098_L to 3998720100_A
Columns: 35229 entries, !Sample_geo_accession to !series_matrix_table_end
dtypes: object(35229)
memory usage: 168.8+ MB

## Handling Duplicate Rows

In [5]:
transpose_dataset4.drop_duplicates(subset=['ID_REF'], keep='first', inplace=True)

### Handling Duplicate Columns

In [6]:
# Identify columns that start with '!Sample_characteristics_ch1' by their index positions
# The duplicate columns are in positions known by inspection with indices 8, 9, 10, 11 and 12
characteristics_indices = [12]

# Extract and rename each column using its index position
transpose_dataset4['!Sample_type'] = transpose_dataset4.iloc[:, characteristics_indices[0]]

# Drop the original duplicated columns by their indices
transpose_dataset4.drop(transpose_dataset4.columns[characteristics_indices], axis=1, inplace=True)

# Reorder the columns to place the new columns at the front
# Create a new order by specifying the newly created columns first
new_column_order = ['!Sample_type'] + \
                   [col for col in transpose_dataset4.columns if col not in ['!Sample_type']]

# Reassign columns to the DataFrame in the new order
transpose_dataset4 = transpose_dataset4[new_column_order]

In [7]:
# Display the first few rows of the transposed data
transpose_dataset4.head()

!Sample_title,!Sample_type,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_molecule_ch1,!Sample_extract_protocol_ch1,...,ILMN_3311115,ILMN_3311135,ILMN_3311145,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311180,ILMN_3311190,!series_matrix_table_end
3998675098_L,eptborptb: PTB_EPTB,GSM4280811,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,1,Whole blood,Homo sapiens,total RNA,RNA was isolated using 1.5 ml whole blood and ...,...,4.039544,5.172025,5.058571,4.166647,4.906626,4.269784,5.292572,4.873061,5.19957,NaN
3998675098_C,eptborptb: PTB,GSM4280812,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,1,Whole blood,Homo sapiens,total RNA,RNA was isolated using 1.5 ml whole blood and ...,...,4.913003,4.596784,4.449106,4.900252,4.99664,4.293105,5.576008,4.456889,5.039554,NaN
3998675093_J,eptborptb: PTB,GSM4280813,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,1,Whole blood,Homo sapiens,total RNA,RNA was isolated using 1.5 ml whole blood and ...,...,4.563223,4.893806,4.251844,4.909084,4.610458,4.192144,4.965947,5.077903,5.752054,NaN
3998675095_K,eptborptb: PTB_EPTB,GSM4280814,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,1,Whole blood,Homo sapiens,total RNA,RNA was isolated using 1.5 ml whole blood and ...,...,4.935363,5.040774,4.470534,5.042976,4.971159,4.305317,5.204007,5.017789,5.354597,NaN
3998720112_B,eptborptb: EPTB,GSM4280815,Public on Jan 26 2021,Jan 23 2020,Jan 29 2021,1,Whole blood,Homo sapiens,total RNA,RNA was isolated using 1.5 ml whole blood and ...,...,4.964802,4.806887,4.706329,5.194781,4.989374,4.079922,5.200538,5.278832,5.324751,NaN

## Unnecessary Feature Elemination

In [8]:
# Identify columns where all values are the same
columns_to_drop = transpose_dataset4.columns[transpose_dataset4.nunique() == 1]

# Drop those columns
data4 = transpose_dataset4.drop(columns=columns_to_drop)

In [9]:
# Drop columns with more than 50% missing values
# Calculate threshold for dropping columns
threshold = len(data4) * 0.5
data4 = data4.dropna(thresh=threshold, axis=1)

In [10]:
# Drop the columns which wonâ€™t contribute to distinguishing TB states.
columns_to_drop = [
    '!Sample_geo_accession', 'ID_REF'
]

data4.drop(columns=columns_to_drop, inplace=True)

In [11]:
# Select the first 5 columns
first_5_columns = data4.columns[:5]

# Create an empty list to store the rows
rows = []

# Loop through each of the first 5 columns
for col in first_5_columns:
    # Get the data type of the column using the Series dtype
    data_type = data4[col].dtypes  # Access the dtype via .dtypes (not .dtype)

    # Get the first two row values of the column
    row_value_1 = data4[col].iloc[0]
    row_value_2 = data4[col].iloc[1]

    # Append the information as a row to the list
    rows.append({
        'Feature': col,
        'Data Type': data_type,
        'Row Value 1': row_value_1,
        'Row Value 2': row_value_2
    })

# Convert the list of rows into a DataFrame
result_df = pd.DataFrame(rows)

# Display the result
result_df

        Feature Data Type          Row Value 1     Row Value 2
0  !Sample_type    object  eptborptb: PTB_EPTB  eptborptb: PTB
1  ILMN_1343291    object          13.61266024     13.56358553
2  ILMN_1343295    object          10.03010548     10.35579681
3  ILMN_1651199    object          4.312461647     4.575757918
4  ILMN_1651209    object          5.128980529     4.904543277

## Handling Missing values

In [12]:
# Check for missing values
data4.isnull().sum()

!Sample_title
!Sample_type    0
ILMN_1343291    0
ILMN_1343295    0
ILMN_1651199    0
ILMN_1651209    0
               ..
ILMN_3311155    0
ILMN_3311160    0
ILMN_3311165    0
ILMN_3311180    0
ILMN_3311190    0
Length: 35175, dtype: int64

In [13]:
# Check for missing values and print only columns with missing values
missing_values = data4.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

## Creating the Target Column - TB_Status

In [14]:
# Get unique categories in the "!Sample_type" column
unique_categories = data4["!Sample_type"].unique()

# Display the unique categories
unique_categories

array(['eptborptb: PTB_EPTB', 'eptborptb: PTB', 'eptborptb: EPTB',
       'site of infection: Lung', 'site of infection: Spine',
       'eptborptb: OD', 'smear microscopy: TRUE'], dtype=object)

In [15]:
data4.sample(5)

!Sample_title,!Sample_type,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651237,...,ILMN_3311110,ILMN_3311115,ILMN_3311135,ILMN_3311145,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311180,ILMN_3311190
3998675098_H,eptborptb: PTB,13.63219572,10.50363252,4.770540506,5.231736058,4.770540506,4.178913509,11.51312661,5.916573832,4.454251455,...,4.919577,4.78847,5.07894,4.320648,4.827561,5.00832,4.149462,5.167182,4.698934,5.429121
3998675092_C,eptborptb: OD,13.53878741,10.48225918,4.517537841,4.950864431,4.205722477,5.069534315,11.27379641,5.724299408,4.030895318,...,4.848848,4.856068,5.671648,4.395781,4.565514,5.118038,4.477995,5.734627,4.108061,5.318663
3998734071_L,eptborptb: OD,13.85218063,10.74377345,4.101863956,4.929709993,4.311633282,4.827723841,10.85292743,5.877842486,4.98052042,...,4.687715,4.570244,4.660037,5.06467,4.580692,4.209809,4.538255,5.32882,4.827724,5.22177
200681360011_J,eptborptb: PTB_EPTB,13.01339578,10.37799713,4.974364963,4.906742505,4.108239083,5.238504663,11.36187325,6.032338393,5.023610482,...,5.164024,4.672217,4.811772,4.358651,4.708287,5.059472,4.064877,5.192534,4.69045,5.119214
3998720114_H,eptborptb: PTB,13.37901128,11.47332979,4.836351951,4.525914482,4.580435592,4.986243111,11.60102302,5.612586573,4.146114948,...,5.025357,4.507315,5.177736,4.738427,5.119918,5.075625,4.532066,4.860964,4.016484,5.395505

In [16]:
# Define a function to categorize each sample type
def categorize_sample_type(source_name):
    source_name = source_name.lower().strip()
    if 'eptborptb: ptb' in source_name or 'site of infection: lung' in source_name:
        return 'Pulmonary TB'
    elif 'eptborptb: eptb' in source_name or 'site of infection: spine' in source_name:
        return 'Extra Pulmonary TB'
    elif 'eptborptb: ptb_eptb' in source_name:
        return 'PTB and EPTB'
    elif 'smear microscopy: true' in source_name:
        return 'TB'
    else:
        return 'Other Disease'  # Other lung disease like 'Lung Cancer'

# Apply the function to the "!Sample_disease_state" column
data4['TB_Status'] = data4['!Sample_type'].apply(categorize_sample_type)

# Display unique values in the new 'TB_Status' column to verify
print(data4['TB_Status'].unique())

['Pulmonary TB' 'Extra Pulmonary TB' 'Other Disease' 'TB']

In [17]:
data4.sample(5)

!Sample_title,!Sample_type,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651237,...,ILMN_3311115,ILMN_3311135,ILMN_3311145,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311180,ILMN_3311190,TB_Status
3998675092_L,eptborptb: OD,13.77794444,10.2700398,3.849581701,5.170060106,4.814823555,4.626959248,11.68965063,5.56935418,4.322573736,...,4.944917,5.056898,4.998764,4.902445,4.766488,4.60391,5.1152,4.054089,5.363009,Other Disease
3998675068_C,eptborptb: OD,13.62380631,10.29342331,4.649911557,4.998259728,4.895591455,4.872033221,10.89007126,5.528216844,3.839153704,...,4.99826,5.054383,4.427626,4.666806,4.850053,4.488737,5.093038,4.922877,5.361674,Other Disease
3998703016_D,eptborptb: PTB,13.33545156,10.34757336,4.081279014,5.027113396,4.462793792,5.06704038,12.23724037,5.705855017,5.129281152,...,4.677874,4.964352,4.787185,5.147474,4.671317,4.835291,5.242063,4.840356,4.896734,Pulmonary TB
3998675040_C,eptborptb: PTB,13.78725022,10.9361712,4.260976565,4.765599686,4.965347202,3.981852991,10.80969567,5.568267726,4.906407729,...,4.614507,4.988603,4.852585,4.602127,4.927194,4.206794,5.451621,4.602127,5.223876,Pulmonary TB
3998734063_D,eptborptb: OD,13.8405561,10.85657657,4.65603161,5.160085602,4.383577114,4.724702323,9.453004114,5.468210153,4.986903348,...,4.978323,4.864919,4.802591,4.705782,4.814392,4.851249,5.036332,4.751998,5.247053,Other Disease

In [18]:
# Drop the '!Sample_disease_state' column.
data4.drop('!Sample_type', axis=1, inplace=True)

## Data Type Conversion

In [19]:
# Convert columns that should be numeric (e.g., ILMN_1343291, ILMN_1343295)
# Select columns that start with "ILMN_"
ilmn_columns = data4.columns[data4.columns.str.startswith('ILMN_')]

# Convert all 'ILMN_' columns to numeric
data4[ilmn_columns] = data4[ilmn_columns].apply(pd.to_numeric, errors='coerce')

# Verify the data types of the columns
print(data4[ilmn_columns].dtypes)

!Sample_title
ILMN_1343291    float64
ILMN_1343295    float64
ILMN_1651199    float64
ILMN_1651209    float64
ILMN_1651210    float64
                 ...
ILMN_3311155    float64
ILMN_3311160    float64
ILMN_3311165    float64
ILMN_3311180    float64
ILMN_3311190    float64
Length: 35174, dtype: object

In [20]:
# Convert target column ('TB_Status') to categorical
data4['TB_Status'] = data4['TB_Status'].astype('category')

# Verify the data type of the column
print(data4['TB_Status'].dtypes)

category

In [21]:
dataset4 = data4.copy()

## Encode the target labels in the target column (TB_Status)

In [22]:
data4 = dataset4.copy()

## Standardizing/Normalizing Numeric Data

In [23]:
from sklearn.preprocessing import StandardScaler

# Select only the numeric columns in the dataset
numeric_columns = data4.select_dtypes(include=['float64', 'int64']).columns

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler on the numeric columns and transform them
data4[numeric_columns] = scaler.fit_transform(data4[numeric_columns])

# Display random 5 rows to verify the standardization
data4.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651237,ILMN_1651253,...,ILMN_3311115,ILMN_3311135,ILMN_3311145,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311180,ILMN_3311190,TB_Status
3998720110_L,-1.336806,0.352015,-0.453393,0.160203,0.346083,-0.554861,0.698743,-0.012196,-0.301596,-0.154268,...,0.352069,-1.284144,1.396018,-3.332521,1.137312,0.265957,1.712465,1.161067,-0.217450,Other Disease
3998703004_D,0.726991,-1.949012,-0.870308,0.141294,1.742210,0.868892,1.880572,-0.661276,-0.489561,0.009870,...,-1.054035,0.694396,0.988643,0.825375,0.014360,0.369341,-0.979414,0.650210,-0.193056,Extra Pulmonary TB
3998720114_H,0.039468,2.085177,1.042198,-1.749544,0.121573,0.626275,0.448434,-0.717033,-0.859501,0.483305,...,-0.712594,0.825854,0.223899,1.288304,0.943772,-0.035132,-1.392908,-2.136836,0.231128,Pulmonary TB
200681360001_F,-3.277006,-2.517395,0.164637,-2.231946,-1.201333,0.482645,0.804462,0.238302,-0.438520,0.115100,...,0.484889,-0.853114,1.202831,0.682837,-0.044207,0.282689,1.317311,0.244352,0.002808,Extra Pulmonary TB
3998734089_I,-0.138929,1.733202,-0.261992,-0.409605,0.590530,0.568910,-1.659608,1.436448,1.436069,0.981360,...,-0.660190,-1.475741,0.838961,-1.132330,0.140378,-0.655540,2.117475,0.835483,0.939868,Other Disease

## Handling Outliers

In [24]:
import numpy as np

# Select only the numeric columns
numeric_columns = data4.select_dtypes(include=['float64', 'int64']).columns

# Define a function to cap outliers
def cap_outliers(series):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1

    # Define the lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Cap values outside the bounds to the respective bounds
    return np.where(series < lower_bound, lower_bound,
                    np.where(series > upper_bound, upper_bound, series))

# Apply the function to each numeric column
for col in numeric_columns:
    data4[col] = cap_outliers(data4[col])

# Display the random 5 rows to verify the changes
data4.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651237,ILMN_1651253,...,ILMN_3311115,ILMN_3311135,ILMN_3311145,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311180,ILMN_3311190,TB_Status
3998703022_K,-0.547553,-0.717202,1.139219,0.662558,1.009247,-0.096709,0.536751,0.405381,0.396215,0.853873,...,1.024009,1.145438,-0.854808,-1.667623,-0.432116,1.382525,-0.339143,0.537260,-0.464428,Extra Pulmonary TB
3998675119_B,-0.105715,-0.179527,0.860892,-1.106268,0.029547,0.647456,0.121004,0.636551,-1.307099,0.595729,...,1.126665,0.440156,-1.745824,1.008047,1.081357,-0.454340,-0.303522,0.948832,-1.632400,Other Disease
3998675102_G,1.293763,-0.732091,2.114136,-1.034620,-0.128040,0.545781,0.093053,1.164225,-0.604682,-0.568219,...,0.448882,0.392950,-0.712069,-1.446641,-0.003031,0.703040,-0.646418,0.106270,0.484503,Other Disease
3998734070_E,-1.375063,0.238494,-2.386294,0.711035,1.300337,0.241633,-1.404887,-1.088773,0.187246,0.022351,...,1.416880,1.296440,2.201663,-0.888896,-0.724395,1.567559,2.054666,-2.174497,1.351188,Other Disease
3998675029_F,-1.395231,1.151984,0.632440,0.769008,0.129716,0.841501,-0.324978,0.058979,0.947470,-0.182702,...,0.185251,-2.159366,-1.177572,0.594118,-0.143070,0.481390,1.946100,-1.050159,-0.837750,Other Disease

In [25]:
# Save the DataFrame as a CSV file
output_csv_path = r"..\..\..\Datasets\train\processed\processed_dataset4.csv"
data4.to_csv(output_csv_path, index=False)
print("CSV file saved to:", output_csv_path)

CSV file saved to: ..\..\..\Datasets\train\processed\processed_dataset4.csv