# Prediction Dataset 3 : GSE42825_series_matrix

In [1]:
# Set the file path
file_path = r'..\..\..\Datasets\to-predict\raw\GSE42825_series_matrix.txt'

In [2]:
# Number of rows to be skipped
m = 50

# Load the TXT file into a Pandas DataFrame
import pandas as pd

# Skip the header lines (e.g., metadata) to get to the actual data
test_set = pd.read_csv(file_path, sep='\t', skiprows=m)

C:\Users\dilan\AppData\Local\Temp\ipykernel_8576\1166178274.py:8: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  test_set = pd.read_csv(file_path, sep='\t', skiprows=m)

In [3]:
# Display the first 5 rows
test_set.head()

,!Sample_title,TB Sample 1 validation set,Sarcoid Sample 2 validation set,TB Sample 3 validation set,TB Sample 4 validation set,TB Sample 5 validation set,TB Sample 6 validation set,TB Sample 7 validation set,TB Sample 8 validation set,TB Sample 9 validation set,...,Control Sample 33 validation set,Control Sample 34 validation set,Sarcoid Sample 35 validation set,Sarcoid Sample 36 validation set,Control Sample 37 validation set,Control Sample 38 validation set,Control Sample 39 validation set,Control Sample 40 validation set,Control Sample 41 validation set,Control Sample 42 validation set
0,!Sample_geo_accession,GSM1050732,GSM1050733,GSM1050734,GSM1050735,GSM1050736,GSM1050737,GSM1050738,GSM1050739,GSM1050740,...,GSM1050764,GSM1050765,GSM1050766,GSM1050767,GSM1050768,GSM1050769,GSM1050770,GSM1050771,GSM1050772,GSM1050773
1,!Sample_status,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,...,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013,Public on Oct 31 2013
2,!Sample_submission_date,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,...,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012,Dec 10 2012
3,!Sample_last_update_date,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,...,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013,Oct 31 2013
4,!Sample_type,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,...,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA,RNA

## Get the transpose of the dataset

In [4]:
# Transpose the dataset
transpose_test_set = test_set.T

# Reset the index to make the transposed column names into a header
transpose_test_set.columns = transpose_test_set.iloc[0]

# Drop the first row (index 0) which has the headers duplicated
transpose_test_set = transpose_test_set.drop(transpose_test_set.index[0])

# Display the first few rows of the corrected transposed data
transpose_test_set.head()

!Sample_title,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_characteristics_ch1,!Sample_characteristics_ch1,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,!series_matrix_table_end
TB Sample 1 validation set,GSM1050732,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: F,ethnicity: Indian subcontinent,...,-0.167794,0.608737,-0.167794,-0.333273,-0.192166,-0.167794,-0.192051,-0.167794,0.732449,NaN
Sarcoid Sample 2 validation set,GSM1050733,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: F,ethnicity: Black,...,0.315921,0.244455,0.315921,0.150442,0.291549,0.315921,0.291664,0.315921,-0.527997,NaN
TB Sample 3 validation set,GSM1050734,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: M,ethnicity: Black,...,-0.396898,-0.468364,-0.396898,-0.562377,-0.421271,-0.396898,-0.421156,-0.396898,-0.314817,NaN
TB Sample 4 validation set,GSM1050735,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: M,ethnicity: White,...,0.383321,0.311855,0.383321,0.217842,0.358948,0.383321,0.359063,0.383321,0.728436,NaN
TB Sample 5 validation set,GSM1050736,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,gender: F,ethnicity: White,...,0.206443,0.134977,0.206443,0.267473,0.182071,0.206443,0.182186,0.206443,0.821957,NaN

In [5]:
# Check basic information about the dataset, including data types and non-null counts
transpose_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, TB Sample 1 validation set to Control Sample 42 validation set
Columns: 47358 entries, !Sample_geo_accession to !series_matrix_table_end
dtypes: object(47358)
memory usage: 15.2+ MB

## Handling Duplicate RowsHandling Duplicate Rows

In [6]:
transpose_test_set.drop_duplicates(subset=['ID_REF'], keep='first', inplace=True)

## Handling Duplicate Columns

In [7]:
# Assign starting and end indices of duplicate columns to variables
start_index = 8
end_index = 11

# Assign the index related to the target column
target_column_index = 10

# Assign a name to target column
target_column ='!Sample_disease_state'

# Rename the target column (rather than dropping it)
transpose_test_set[target_column] = transpose_test_set.iloc[:, target_column_index]

# Loop through the range of indices from start_index to end_index
for i in range(start_index, end_index + 1):
    # If the column index is the target column, skip renaming it
    if i != target_column_index:
        # Drop the column
        transpose_test_set.drop(transpose_test_set.columns[i], axis=1, inplace=True)

# Reorder the columns
# Here, place the target column at the front
new_column_order = [target_column] + [col for col in transpose_test_set.columns if col != target_column]
transpose_test_set = transpose_test_set[new_column_order]

In [8]:
# Display the first few rows of the transposed data
transpose_test_set.head()

!Sample_title,!Sample_disease_state,!Sample_geo_accession,!Sample_status,!Sample_submission_date,!Sample_last_update_date,!Sample_type,!Sample_channel_count,!Sample_source_name_ch1,!Sample_organism_ch1,!Sample_treatment_protocol_ch1,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,!series_matrix_table_end
TB Sample 1 validation set,disease state: TB,GSM1050732,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,-0.167794,0.608737,-0.167794,-0.333273,-0.192166,-0.167794,-0.192051,-0.167794,0.732449,NaN
Sarcoid Sample 2 validation set,disease state: Active sarcoidosis,GSM1050733,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,0.315921,0.244455,0.315921,0.150442,0.291549,0.315921,0.291664,0.315921,-0.527997,NaN
TB Sample 3 validation set,disease state: TB,GSM1050734,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,-0.396898,-0.468364,-0.396898,-0.562377,-0.421271,-0.396898,-0.421156,-0.396898,-0.314817,NaN
TB Sample 4 validation set,disease state: TB,GSM1050735,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,0.383321,0.311855,0.383321,0.217842,0.358948,0.383321,0.359063,0.383321,0.728436,NaN
TB Sample 5 validation set,disease state: TB,GSM1050736,Public on Oct 31 2013,Dec 10 2012,Oct 31 2013,RNA,1,Whole Blood,Homo sapiens,Direct ex-vivo human blood,...,0.206443,0.134977,0.206443,0.267473,0.182071,0.206443,0.182186,0.206443,0.821957,NaN

## Unnecessary Feature Elemination

In [9]:
# Identify columns where all values are the same
columns_to_drop = transpose_test_set.columns[transpose_test_set.nunique() == 1]

# Drop those columns
test_data = transpose_test_set.drop(columns=columns_to_drop)

In [10]:
# Drop columns with more than 50% missing values
# Calculate threshold for dropping columns
threshold = len(test_data) * 0.5
test_data = test_data.dropna(thresh=threshold, axis=1)

In [11]:
# Select columns that start with 'ILMN_' or are the target column
columns_to_keep = [target_column] + [col for col in test_data.columns if col.startswith('ILMN_')]

# Filter the DataFrame to keep only the selected columns
test_data = test_data[columns_to_keep]

In [12]:
# Select the first 5 columns
first_5_columns = test_data.columns[:5]

# Create an empty list to store the rows
rows = []

# Loop through each of the first 5 columns
for col in first_5_columns:
    # Get the data type of the column using the Series dtype
    data_type = test_data[col].dtypes  # Access the dtype via .dtypes (not .dtype)

    # Get the first two row values of the column
    row_value_1 = test_data[col].iloc[0]
    row_value_2 = test_data[col].iloc[1]

    # Append the information as a row to the list
    rows.append({
        'Feature': col,
        'Data Type': data_type,
        'Row Value 1': row_value_1,
        'Row Value 2': row_value_2
    })

# Convert the list of rows into a DataFrame
result_df = pd.DataFrame(rows)

# Display the result
result_df

,Feature,Data Type,Row Value 1,Row Value 2
0,!Sample_disease_state,object,disease state: TB,disease state: Active sarcoidosis
1,ILMN_1343291,object,-0.29533482,0.047121048
2,ILMN_1343295,object,0.07624769,0.08651686
3,ILMN_1651199,object,-0.16779399,0.31592107
4,ILMN_1651209,object,-0.29355526,0.41666818

## Handling Missing values

In [13]:
# Check for missing values
test_data.isnull().sum()

!Sample_title
!Sample_disease_state    0
ILMN_1343291             0
ILMN_1343295             0
ILMN_1651199             0
ILMN_1651209             0
                        ..
ILMN_3311170             0
ILMN_3311175             0
ILMN_3311180             0
ILMN_3311185             0
ILMN_3311190             0
Length: 47324, dtype: int64

In [14]:
# Check for missing values and print only columns with missing values
missing_values = test_data.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

## Creating the Target Column - TB_Status

In [15]:
# Get unique categories in the "!Sample_disease_state" column
unique_categories = test_data[target_column].unique()

# Display the unique categories
unique_categories

array(['disease state: TB', 'disease state: Active sarcoidosis',
       'disease state: Control', 'disease state: Non-active sarcoidosis'],
      dtype=object)

In [16]:
# Define a function to categorize each sample type
def categorize_sample_type(source_name):
    source_name = source_name.lower()
    if 'disease state: tb' in source_name:
        return 'TB'
    elif 'disease state: control' in source_name:
        return 'Healthy Control'
    else:
        return 'Other Disease'  # Other lung disease like 'Pneumonia'

# Apply the function to the "!Sample_disease_state" column
test_data['TB_Status'] = test_data[target_column].apply(categorize_sample_type)

# Display unique values in the new 'TB_Status' column to verify
print(test_data['TB_Status'].unique())

['TB' 'Other Disease' 'Healthy Control']

In [17]:
test_data.sample(5)

!Sample_title,!Sample_disease_state,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,TB_Status
Control Sample 38 validation set,disease state: Control,-0.15923977,-0.116912365,-0.004809141,-0.13057041,-0.004809141,-0.07374859,-0.05009651,-0.031199932,-0.0243721,...,-0.004809,-0.076275,-0.004809,-0.170288,-0.029181,-0.004809,-0.029066,-0.004809,-0.503899,Healthy Control
Control Sample 40 validation set,disease state: Control,-0.03966999,-0.3170762,-0.04731345,1.4868498,-0.04731345,-0.1162529,0.001029968,-0.76228905,-0.06687641,...,-0.047313,-0.118779,-0.047313,-0.212792,-0.071686,-0.047313,-0.071571,-0.047313,0.057369,Healthy Control
TB Sample 1 validation set,disease state: TB,-0.29533482,0.07624769,-0.16779399,-0.29355526,-0.16779399,-0.23673344,-0.27736092,-0.5007205,-0.18735695,...,-0.167794,0.608737,-0.167794,-0.333273,-0.192166,-0.167794,-0.192051,-0.167794,0.732449,TB
Control Sample 26 validation set,disease state: Control,0.01316452,-0.3697114,-0.124336004,-0.25009727,-0.124336004,-0.15063095,-0.10701561,-1.0992799,-0.14389896,...,-0.124336,-0.195802,-0.124336,0.423881,-0.148708,-0.124336,-0.148593,-0.124336,-0.968254,Healthy Control
TB Sample 8 validation set,disease state: TB,-0.2992859,0.46657038,-0.01436305,-0.14012432,-0.01436305,0.04102564,-0.680603,-0.47014618,-0.03392601,...,-0.014363,-0.085829,-0.014363,-0.179842,-0.038735,-0.014363,-0.03862,-0.014363,1.105193,TB

In [18]:
# Drop the '!Sample_disease_state' column.
test_data.drop(target_column, axis=1, inplace=True)

## Data Type Conversion

In [19]:
# Convert columns that should be numeric (e.g., ILMN_1343291, ILMN_1343295)
# Select columns that start with "ILMN_"
ilmn_columns = test_data.columns[test_data.columns.str.startswith('ILMN_')]

# Convert all 'ILMN_' columns to numeric
test_data[ilmn_columns] = test_data[ilmn_columns].apply(pd.to_numeric, errors='coerce')

# Verify the data types of the columns
print(test_data[ilmn_columns].dtypes)

!Sample_title
ILMN_1343291    float64
ILMN_1343295    float64
ILMN_1651199    float64
ILMN_1651209    float64
ILMN_1651210    float64
                 ...
ILMN_3311170    float64
ILMN_3311175    float64
ILMN_3311180    float64
ILMN_3311185    float64
ILMN_3311190    float64
Length: 47323, dtype: object

In [20]:
# Convert target column ('TB_Status') to categorical
test_data['TB_Status'] = test_data['TB_Status'].astype('category')

# Verify the data type of the column
print(test_data['TB_Status'].dtypes)

category

In [21]:
test = test_data.copy()

## Standardizing/Normalizing Numeric Data

In [22]:
from sklearn.preprocessing import StandardScaler

# Select only the numeric columns in the dataset
numeric_columns = test_data.select_dtypes(include=['float64', 'int64']).columns

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler on the numeric columns and transform them
test_data[numeric_columns] = scaler.fit_transform(test_data[numeric_columns])

# Display random 5 rows to verify the standardization
test_data.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,ILMN_1651232,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,TB_Status
Control Sample 38 validation set,-1.015796,-0.552275,-0.284766,-0.678096,-0.284766,-0.461760,-0.198143,0.130090,-0.328295,-0.548876,...,-0.284766,-0.500187,-0.284766,-0.759584,-0.327387,-0.284766,-0.325443,-0.284766,-0.962231,Healthy Control
Control Sample 10 validation set,0.314732,-0.183127,-0.656793,0.676389,-0.656793,0.570909,-0.929034,0.722972,-0.648689,-0.753571,...,-0.656793,-0.610330,-0.656793,-0.970847,-0.689359,-0.656793,-0.284253,-0.656793,-0.284277,Healthy Control
Control Sample 20 validation set,0.420184,-0.389054,0.351554,0.561095,0.351554,-0.029637,-0.113951,1.324535,0.219711,-0.198761,...,0.351554,-0.145843,0.351554,-0.398236,0.291736,0.351554,0.132305,0.351554,-1.368289,Healthy Control
Control Sample 37 validation set,0.776120,-1.036576,0.351554,-0.442135,0.351554,-0.029637,-0.733022,0.546514,0.219711,1.430149,...,0.351554,2.187525,0.351554,-0.398236,0.291736,0.351554,0.132305,0.351554,0.245962,Healthy Control
TB Sample 8 validation set,-1.965017,1.227970,-0.343033,-0.699702,-0.343033,0.013591,-2.530158,-0.893498,-0.378475,-0.580935,...,-0.343033,-0.532634,-0.343033,-0.792672,-0.384079,-0.343033,-0.367358,-0.343033,1.754634,TB

## Handling Outliers

In [23]:
import numpy as np

# Select only the numeric columns
numeric_columns = test_data.select_dtypes(include=['float64', 'int64']).columns

# Define a function to cap outliers
def cap_outliers(series):
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1

    # Define the lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Cap values outside the bounds to the respective bounds
    return np.where(series < lower_bound, lower_bound,
                    np.where(series > upper_bound, upper_bound, series))

# Apply the function to each numeric column
for col in numeric_columns:
    test_data[col] = cap_outliers(test_data[col])

# Display the random 5 rows to verify the changes
test_data.sample(5)

!Sample_title,ILMN_1343291,ILMN_1343295,ILMN_1651199,ILMN_1651209,ILMN_1651210,ILMN_1651221,ILMN_1651228,ILMN_1651229,ILMN_1651230,ILMN_1651232,...,ILMN_3311150,ILMN_3311155,ILMN_3311160,ILMN_3311165,ILMN_3311170,ILMN_3311175,ILMN_3311180,ILMN_3311185,ILMN_3311190,TB_Status
Control Sample 10 validation set,0.314732,-0.183127,-0.656793,0.676389,-0.656793,0.570909,-0.929034,0.722972,-0.648689,-0.753571,...,-0.656793,-0.610330,-0.656793,-0.970847,-0.689359,-0.656793,-0.284253,-0.656793,-0.284277,Healthy Control
TB Sample 8 validation set,-1.965017,1.227970,-0.343033,-0.699702,-0.343033,0.013591,-2.530158,-0.893498,-0.378475,-0.580935,...,-0.343033,-0.532634,-0.343033,-0.792672,-0.384079,-0.343033,-0.367358,-0.343033,1.754634,TB
Sarcoid Sample 30 validation set,0.461831,1.609384,1.105714,-0.162477,1.105714,1.369335,0.339302,0.999522,0.869202,2.228790,...,1.105714,0.274121,1.105714,1.417208,1.025513,1.105714,0.674823,1.105714,-0.410492,Other Disease
Sarcoid Sample 17 validation set,0.606119,0.943213,0.257786,-0.020905,0.257786,-0.093315,-1.023862,1.238091,0.138957,-0.250354,...,0.257786,-0.198059,0.257786,1.157796,0.200501,0.257786,0.064851,0.257786,0.023978,Other Disease
Sarcoid Sample 27 validation set,0.380586,0.983777,1.490603,0.910701,1.490603,0.743887,0.519396,-0.761200,1.200673,0.427964,...,1.490603,0.488453,1.490603,0.248597,1.400000,1.490603,0.951700,1.490603,-1.052940,Other Disease

In [24]:
# Get the number of occurrences for each class in the 'TB_Status' column
class_counts = test_data['TB_Status'].value_counts()

# Display the class counts
print(class_counts)

TB_Status
Healthy Control    23
Other Disease      11
TB                  8
Name: count, dtype: int64

In [25]:
# Save the DataFrame as a CSV file
output_csv_path = r'..\..\..\Datasets\to-predict\processed\Test_Dataset_3.csv'
test_data.to_csv(output_csv_path, index=False)
print("CSV file saved to:", output_csv_path)

CSV file saved to: ..\..\..\Datasets\to-predict\processed\Test_Dataset_3.csv